/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.TickerPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.leftContainer {
  overflow: scroll;
  position: fixed;
  left: 10px;
  width: 500px;
  height: 75%;
}

.rightContainer {
  position: fixed;
  left: 550px;
}

.bottomTicker {
  border: 1px solid black;
  height: 50px;
  position: fixed;
  bottom: 30px;
  width: $max-content-width;
  background-color: yellow;
  text-color: black;
}